.titulo_form{
    margin-top: 2rem;
    text-align: center;
}

.Subtitulo_form{
    margin: 3rem auto;
    text-align: center;
}

#contenedor_form{
    background-image: radial-gradient(#88a4c4 15%, #bad8da 60%);
    border: 2px solid black;
    margin: 2rem 3rem;
    padding: 0;
    max-height: 800px;

}

#contenedor_form #form_contacto{
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
    justify-content: center;
    justify-items: center;
}

/*CSS DE CAMPOS DE DATOS*/

#form_contacto #seccion_datos{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
}


#form_contacto #seccion_campos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
    width: 90%;
    height: 50%;
    align-items: center;
}

#form_contacto #seccion_campos #campo_correo{
    grid-row: 1;
    grid-column: 1/3;
}

#form_contacto #seccion_campos #campo_residencia{
    grid-row: 4;
    grid-column: 1/3;
}

#form_contacto #seccion_campos #campo_mensaje{
    grid-row: 5;
    grid-column: 1/3;
}


#form_contacto #seccion_campos #btn_enviar{
    background-color: rgb(26, 72, 131);
    border: none;
    grid-row: 6;
    grid-column: 1/3;
    width: 100%;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#form_contacto #seccion_campos #btn_enviar:hover {
    background-color: rgb(58, 98, 172);
}