section{
    font-family: 'Roboto Condensed', sans-serif;
    background-color:#ccc;
    
  }
  section h1 {
    text-align: center;
    position: relative;
    width: 80%;
    margin: 50px auto;
    font-size: 32px; /* Tamaño de fuente del título */
    color: #333; /* Color del texto del título */
    text-transform: uppercase; /* Convertir el texto del título a mayúsculas */
  }
  
  section h1::before,
  section h1::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0; /* Ancho inicial de las líneas */
    height: 2px;
    background-color: #333; /* Color de las líneas */
    position: absolute;
    top: 50%;
    transition: width 0.3s ease; /* Transición suave para el ancho de las líneas */
  }
  
  section h1::before {
    right: 70%; 
  }
  
  section h1::after {
    left: 70%; 
  }
  
  section h1:hover::before,
  section h1:hover::after {
    width: calc(50% - 10px);
  }
  
  @media screen and (max-width: 768px) {
    section h1 {
      width: 70%; 
      font-size: 18px; 
    }
    
    section h1::before,
    section h1::after {
      height: 1px; /* Ajustar la altura de las líneas en dispositivos más pequeños */
    }
  }

.modal {
    display: flex;
    z-index: 1;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    position: fixed;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s
  }

  .modal-content {
    background-color: #fefefe;
    padding: 0;
    border: 1px solid #888;
    width: 95%;
    max-width: 800px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    flex-direction: column;
  }

  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0
    }

    to {
      top: 0;
      opacity: 1
    }
  }

  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0
    }

    to {
      top: 0;
      opacity: 1
    }
  }
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header {
    padding: 2px 16px;
    background-color: #88a4c4;
    color: white;
    display: flex;
    flex-direction: column;
    display: flex;

  }

  .modal-body {
    padding: 2px 100px;
    display: flex;
    flex-direction: column;
  }

  .modal-body img {
    width: 50%;
    height: 80%;
    margin: 0 auto;
  }

  .modal-footer {
    padding: 2px 16px;
    background-color: #88a4c4;
    color: white;
  }


  .img-gallery {
    width: 80%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 30px;
    justify-content: center;
  }

  .img-gallery img {
    width: 100%;
    height: 80%;
    cursor: pointer;
    transition: 1s;
  }

  .img-gallery img:hover {
    transform: scale(1.2);
  }

  .enlace {
    color: rgb(255, 255, 255); /* Modifica el color del enlace aquí */
    text-decoration: none; /* Elimina la decoración de subrayado */
  }
  
  .enlace:hover {
    color: blue; /* Modifica el color del enlace al pasar el cursor por encima */
  }
  