
#primera-barra {
    background-image: linear-gradient(#88a4c4, #bad8da);

}

#primera-barra a {
    color: black;
}

#primera-barra img {
    height: 50px;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

#navegador {
    display: grid;
    background-image: linear-gradient(#bad8da, #88a4c4);
}

#navegador img {
    width: 150px;
    height: 70px;
}

#carrusel1 {

    background-color: gainsboro;
    text-align: center;
    padding: 1%;
}

#container-1 .row {
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#container-1 {
    padding: 4%;
}

#container-1 img {
    width: 300px;
    height: 300px;
    border-radius: 5%;
}

#container-1 img:hover {
    scale: 1.1;
}

.footer {
    background-image: radial-gradient(#88a4c4 50%, #bad8da);
    padding: 10px;
    text-align: center;
    color: white;
}

#carrusel-2 img {
    height: 450px;
}

#contenedor-2 {
    padding: 5%;
}

#contenedor-2 .row {
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#contenedor-2 .row img {
    width: 100px;
    height: 130px;
}

#contenedor-2 img:hover {
    scale: 1.1;
}

#container-3 {
    background-image: radial-gradient(#88a4c4, #bad8da 50%);
    padding: 4%;
}

#contenedor-3 .row {
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#container-3 .col-sm-3 img {
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80px;
    width: 80px;
}

#container-3 img:hover {
    scale: 1.1;
}

#container-4 .row {
    padding: 3%;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#container-4 img:hover {
    scale: 1.1;
}

#container-4 img {

    padding: 2%;
    height: 200px;
    width: 600px;
}

#container-5 {
    background-image: radial-gradient(#88a4c4 30%, #bad8da 60%);
    padding: 2%;
    text-align: center;
}

#container-5 h2 {
    padding: 3%;
}

#contenedor-5 .row {
    align-content: center;
    align-items: center;
    justify-content: center;
}

#container-5 img:hover {
    scale: 1.1;
}

#container-5 img {
    height: 300px;
    width: 250px;
    border-radius: 5%;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.galeria img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.titu {
    text-align: center;
}

.tabla {
    width: 100%;
    display: block;
    margin: 0;
}

.nosotro {
    margin: auto auto;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.code-container {
    margin: 40px auto; /* ajusta el margen superior e inferior */
    max-height: calc(90vh - 250px); /* establece una altura máxima */
    overflow-y: auto;
}

/* Modal con texto */

body{background-color:#ccc;}

h1{
    text-align: center;
    position: relative;
    width: 80%;
    margin: 50px auto;
}
h1::before{content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;

    top: 50%;
    z-index: -1;
}
h1 span{
    background-color:#ccc;
    padding: 0 15px;
}

.img-gallery{
    width: 80%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    gap: 30px;
}
.img-gallery img{
    width: 100%;
    height: 80%;
    cursor:pointer;
    transition: 1s;
}
.img-gallery img:hover{
    transform: scale(1.2);

}
.ful-img{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
    position:fixed;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.ful-img span{
    position: absolute;
    top:5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.ful-img img{
    width: 90%;
    max-width: 600px;
}

@media screen and(max-width:400px) {
    h1{
        text-decoration: underline;
    }
    h1::before{
        display: none;
    }
    h1 span{
        padding: 1px;
    }
}
.code-container {
    margin: 40px auto; /* ajusta el margen superior e inferior */
    max-height: calc(90vh - 250px); /* establece una altura máxima */
    overflow-y: auto;
}

.nosotros {
    margin: auto auto;
}

#tituloNosotros {
    text-align: center;
    padding-bottom: 10px;
}

#card1, #card2, #card3, #card4, #card5 {
    display: inline-block;
    width: 18%;
    margin-right: 1%;
    vertical-align: top;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
  }

  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header {
    padding: 2px 16px;
    background-color: #88a4c4 ;
    color: white;
  }

  .modal-body {padding: 2px 16px;}

  .modal-footer {
    padding: 2px 16px;
    background-color: #88a4c4 ;
    color: white;
  }

  .modal-body img{
    width: 50%;
    height: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .card:last-child {
    margin-right: 0;
  }

  .card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .card p {
    font-size: 0.9em;
    margin-bottom: 10px;
  }

  .card-img-top {
    width: 10%;
  }

  #tituloNosotros {
    text-align: center;
    padding-bottom: 10px;
}

#Perritos-necesitados {
    width: 90%;
    height: 90%;

}

#tituloEquipo {
    text-align: center;
}